<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INSTALL_REFERRER" />

    <application android:supportsRtl="true">

        <activity
            android:name="com.funsol.funmob_sdk.ui.InterstitialActivity"
            android:exported="false"
            android:label="@string/title_activity_interstitial"
            android:theme="@style/Theme.FunMobSDK">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>